<header class="nhsn-top-bar">
  <div class="nhsn-top-bar__inner">
    <div class="nhsn-top-bar__brand">
      <div class="cdc-logo">
        <div class="cdc-logo__badge">CDC</div>
        <div class="cdc-logo__text">
          <div>Centers for Disease Control and Prevention</div>
          <div class="cdc-logo__tagline">CDC 24/7: Saving Lives, Protecting People™</div>
        </div>
      </div>
    </div>
    <div class="nhsn-logo">
      <div class="nhsn-logo__abbr">NHSN</div>
      <div class="nhsn-logo__full">NATIONAL HEALTHCARE<br>SAFETY NETWORK</div>
    </div>
  </div>
</header>
<div class="nhsn-title-bar">
  <span class="nhsn-title-bar__text">NHSN - National Healthcare Safety Network</span>
</div>
